<mat-nav-list>
  <mat-list-item *ngFor="let contact of contacts | orderBy: 'firstName'" (click)="onContactSelect(contact)">
    <avatar matListIcon class="cw-contact-list-item-avatar"
            [name]="contact.firstName"
            [displayType]="'circle'"
            [size]="35"
            [background]="contact.firstName | textToColor"></avatar>
    <h4 matLine>{{contact.firstName + ' ' + contact.lastName}}</h4>
    <p matLine> {{contact.phoneNumber}} </p>
  </mat-list-item>
</mat-nav-list>
<button mat-fab (click)="onCreateNew()" color="accent" class = cw-fab>
  <mat-icon>add</mat-icon>
</button>
